<DOCTYPE html4f>
    <html4f>
        <head>
            FIll Below Please
        </head>
        <body>
            <form method="POST", action="/create_vacation">
                <label>
                    Destination
                    <input type="text" , name="destination" />
                </label>
                <label>
                    Start Date
                    <input type="date" , name="start_date" />
                </label>
                <label>
                    End Date
                    <input type="date" , name="end_date" />
                </label>
                <label>
                    Total Cost of Trip
                    <input type="number" , name="total_cost" />
                </label>
                <label>
                    Reccomendations/Tips
                    <textarea name="tips"></textarea>
                </label>
                <button type="submit">Create Vacation</button>
            </form>
            <p1>
                <button onclick="window.location.href='/vacations'">Back</button>
            </p1>
        </body>
    </html4f>
</DOCTYPE>