<DOCTYPE html>
    <html>
        <header>This is the editting page</header>


        <body>
            <form action="{{url_for('edit_vacation', vacation_id = vacation.id)}}" method='post'>
                <div>
                    Destination is {{vacation.destination}}
                    <input type="text" , name="destination" , value="{{vacation.destination}}" />
                </div>
                <div>
                    Start Date is {{vacation.start_date}}
                    <input type="date" name="start_date" value="{{ vacation.start_date.strftime('%Y-%m-%d') if vacation.start_date else '' }}" />
                </div>
                <div>
                    End Date is {{vacation.end_date}}
                    <input type="date" name="end_date" value="{{ vacation.end_date.strftime('%Y-%m-%d') if vacation.end_date else '' }}" />
                </div>
                <div>
                    Total Cost of Trip is {{vacation.cost}}
                    <input type="number" , name="total_cost" , value="{{vacation.cost}}" />
                </div>
                <div>
                    Reccomendations/Tips are {{vacation.tips}}
                    <textarea name="tips" , value="{{vacation.tips}}"></textarea>
                </div>
                <div>

                </div>
                <div>
                    <h1>Add an Itinerary:</h1>


                </div>
                <button type="submit">Save Vacation</button>
            </form>
        </body>

        
    </html>

</DOCTYPE>