
{% extends 'base.html'%}

{%block title%}My Vacations{%endblock%}


{%block content%}
<h1>My Vacations</h1>
<p>These are all the vacations you created</p>
{% if vacations %}
{% for vacation in vacations %}
<div class="card d-inline-block" style="width: 18rem;">
    <h2>{{ vacation.destination }}</h2>
    <p>From {{ vacation.start_date }} to {{ vacation.end_date }}</p>
    <p>{{ vacation.total_cost }}$ is the cost.</p>
    <p> {{ vacation.tips }} </p>
    <form action="{{ url_for('reroute_edit_vacation', vacation_id=vacation.id) }}" method='get'>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <form action="{{url_for('view_vacation', vacation_id = vacation.id)}} ">
        <button type="submit" class=" btn btn-primary">View</button>
    </form>
    <form action="{{url_for('delete_vacation',vacation_id=vacation.id)}}" method="post" class="d-flex">
        <button  type ="submit" class="btn btn-primary ms-auto">Delete</button>
    </form>
</div>
{% endfor %}
{% endif %}



{% endblock %}
