<DOCTYPE html4f>
    <html4f>
        <head>
            <form action="/create_user" method="post">
                <label>
                    New Username:
                    <input type="text" name="username" />
                </label>
                <label>
                    New Password:
                    <input type="text" name="password" />
                </label>
                <button type="submit">Submit</button>
            </form>
            <button onclick="window.location.href='/'"> Sign up</button>
        </head>
    </html4f>
</DOCTYPE>