
<DOCTYPE html>
    <html>
        <head>
            <title>Vacations</title>
        </head>
        <body>
            <h1>All Vacations</h1>
            <p1>These are where all submitted vacations will be</p1>
            {% if vacations %}
            {% for vacation in vacations %}
                <div>
                    <h2>{{ vacation.destination }}</h2>
                    <p1>From {{ vacation.start_date }} to {{ vacation.end_date }}</p1>
                    <p1>{{ vacation.total_cost }}$ is the cost.</p1>
                    <p1> {{ vacation.tips }} </p1>
                    <form action="{{ url_for('add_itinerary', vacation_id=vacation.id) }}" method='post'>
                        <button type="submit" class="btn">Edit</button>
                    </form>
                </div>
            {% endfor %}
            {% endif %}

            <form action="/delete_all" method="get">
                <button type="submit">Delete All Vacations</button>
            </form>
            <nav>
                <a href= "/">Home</a>
                <a href="/create_vacation">Create New Vacation</a>
            </nav>
        </body>
    </html>
